* {
  font-family: "Poppins";
  font-weight: 400;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

input {
  outline: none;
}

input:focus {
  outline: none;
}

html {
  margin: 0 auto 0 auto;
  height: stretch;
  height: -webkit-fill-available;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #111111;
  color: #ffffff;
  min-height: 100vh;
  min-height: stretch;
  min-height: -webkit-fill-available;
  display: flex;
}

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
}

h1 {
  font-family: "Poppins";
  font-weight: 400;
}

h2 {
  font-family: "Poppins";
  font-weight: 500;
}

h3 {
  font-family: "Poppins";
  font-weight: 500;
}

h4 {
  font-family: "Poppins";
  font-weight: 300;
}

h5 {
  font-family: "Poppins";
  font-weight: 500;
}